#username
{
	font-size:20px;
	margin-left:100px;
}

#search
{
	font-size:20px;
	border-radius:10px;
}

#profile
{
	font-size:17px;
}

#user_repo_label
{
	font-size:17px;
}

#user_table
{
	border:1px solid black;
	border-collapse:collapse;
}

tr,td,th
{
	border:1px solid black;
}

#container
{
	display:flex;
}

#user_repo_table
{
	
	overflow-y:scroll;
	height:100px;
	display:block;
	
	border:1px solid black;
	border-collapse:collapse;
}

#profile_table
{
	flex: 1;
	margin-left:20px;
}

#repo_table
{
	flex: 1;
	margin-right:800px;
}




#avatar, #first_name, #uname, #email, #location, #no_of_gists
{
	color:black;
}